$white-color:white;
$black-color: black;
$bg-button-color:#c62d1f;
$shadow-color:#8a2a21;
$text-shadow-color:#810e05;
$border-button-color:#d02718;
$red-color:red;
$hover-bg-button-color:#f24437;
$toogle-bg-blue-color:blue;